@import 'tailwindcss';

@font-face {
  font-family: 'YekanBakh';
  src: url('@/assets/fonts/YekanBakhFaNum-Regular.woff2') format('woff2'),
    url('@/assets/fonts/YekanBakhFaNum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YekanBakhBold';
  src: url('@/assets/fonts/YekanBakhFaNum-Bold.woff2') format('woff2'),
    url('@/assets/fonts/YekanBakhFaNum-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'YekanBakh', sans-serif !important;
  letter-spacing: normal !important;
  direction: rtl;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}
