@import 'tailwindcss';

@font-face {
  font-family: 'YekanBakh';
  src: url('@/assets/fonts/YekanBakhFaNum-Regular.woff2') format('woff2'),
    url('@/assets/fonts/YekanBakhFaNum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YekanBakhBold';
  src: url('@/assets/fonts/YekanBakhFaNum-Bold.woff2') format('woff2'),
    url('@/assets/fonts/YekanBakhFaNum-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'YekanBakh', sans-serif !important;
  letter-spacing: normal !important;
  direction: rtl;
}
.v-card-title {
  font-family: 'YekanBakh', sans-serif !important;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.v-application {
  background-color: #f2f2f2 !important;
}
.v-list-item--density-default.v-list-item--one-line {
  min-height: 40px !important;
}
.v-card {
  border-radius: 20px !important;
  padding: 20px !important;
}
.v-menu > .v-overlay__content > .v-list {
  border-radius: 15px !important;
}
.v-input__control {
  background: white !important;
  border-radius: 10px !important;

  border: 0px solid #5a5a5a;
}
.v-field {
  border-radius: 10px !important;
}
.v-field__overlay {
  background-color: white !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}
